[submodule "home/bash-scripts"]
	path = home/bash-scripts
	url = https://github.com/leakypixel/bash-scripts
[submodule "home/.vim/bundle/Vundle.vim"]
	path = home/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "home/.vim/bundle/vim-airline-themes"]
	path = home/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "home/.vim/bundle/limelight.vim"]
	path = home/.vim/bundle/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "home/.vim/bundle/jshint.vim"]
	path = home/.vim/bundle/jshint.vim
	url = https://github.com/wookiehangover/jshint.vim.git
[submodule "home/.vim/bundle/vim-obsession"]
	path = home/.vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "home/.vim/bundle/tmuxline.vim"]
	path = home/.vim/bundle/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim.git
[submodule "home/.vim/bundle/vim-javascript"]
	path = home/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "home/.vim/bundle/base16-vim"]
	path = home/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "home/.vim/bundle/scss-syntax.vim"]
	path = home/.vim/bundle/scss-syntax.vim
	url = https://github.com/cakebaker/scss-syntax.vim.git
[submodule "home/.tmux/plugins/tmux-continuum"]
	path = home/.tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum.git
[submodule "home/.tmux/plugins/tmux-resurrect"]
	path = home/.tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect.git
[submodule "home/.tmux/plugins/tmux-sensible"]
	path = home/.tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "home/.vim/bundle/vim-json"]
	path = home/.vim/bundle/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "home/.vim/bundle/editorconfig-vim"]
	path = home/.vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "home/.vim/bundle/jshint2.vim"]
	path = home/.vim/bundle/jshint2.vim
	url = https://github.com/Shutnik/jshint2.vim.git
