[submodule "home/bash-scripts"]
	path = home/scripts
	url = https://github.com/leakypixel/bash-scripts
[submodule "home/.vim/bundle/Vundle.vim"]
	path = home/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "home/.vim/bundle/vim-airline-themes"]
	path = home/.vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "home/.vim/bundle/limelight.vim"]
	path = home/.vim/bundle/limelight.vim
	url = https://github.com/junegunn/limelight.vim.git
[submodule "home/.vim/bundle/vim-fugitive"]
	path = home/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "home/.vim/bundle/vim-airline"]
	path = home/.vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "home/.vim/bundle/ctrlp.vim"]
	path = home/.vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "home/.vim/bundle/vim-obsession"]
	path = home/.vim/bundle/vim-obsession
	url = https://github.com/tpope/vim-obsession.git
[submodule "home/.vim/bundle/base16-vim"]
	path = home/.vim/bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "home/.vim/bundle/editorconfig-vim"]
	path = home/.vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/vim-javascript-syntax"]
	path = home/.vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "home/.vim/bundle/Colorizer"]
	path = home/.vim/bundle/Colorizer
	url = https://github.com/chrisbra/Colorizer.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-commentary"]
	path = home/.vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
	ignore = untracked
[submodule "home/.vim/bundle/ale"]
	path = home/.vim/bundle/ale
	url = https://github.com/w0rp/ale.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-polyglot"]
	path = home/.vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-gutentags"]
	path = home/.vim/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
	ignore = untracked
[submodule "home/.vim/bundle/jspc.vim"]
	path = home/.vim/bundle/jspc.vim
	url = https://github.com/othree/jspc.vim.git
	ignore = untracked
[submodule "home/.config/i3/i3blocks-contrib"]
	path = home/.config/i3/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
	ignore = untracked
[submodule "home/.vim/bundle/istanbul.vim"]
	path = home/.vim/bundle/istanbul.vim
	url = https://github.com/retorillo/istanbul.vim.git
	ignore = untracked
[submodule "home/.vim/bundle/vimwiki"]
	path = home/.vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
	ignore = untracked
[submodule "home/.vim/bundle/minimalist"]
	path = home/.vim/bundle/minimalist
	url = https://github.com/dikiaap/minimalist.git
	ignore = untracked
[submodule "home/.vim/bundle/vim-hexcolor"]
	path = home/.vim/bundle/vim-hexcolor
	url = https://github.com/etdev/vim-hexcolor.git
	ignore = untracked
[submodule "home/.vim/bundle/papercolor-theme"]
	path = home/.vim/bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
	ignore = untracked
[submodule "home/.vim/bundle/edge"]
	path = home/.vim/bundle/edge
	url = https://github.com/sainnhe/edge.git
	ignore = untracked
