# Includes
+ .vim/**
+ .bash/**
+ bash-scripts/**
+ .fonts/**
+ .bashrc
+ .gitconfig
+ .gitmessage
+ .npmrc
+ .profile
+ .selected_editor
+ .vimrc
+ .tmux.conf
+ .tmux/**
+ .conkystatsrc
+ .conkytimerc
+ .stalonetrayrc

# Excludes
- /**/
- /*
