configuration {
	modi: "combi,drun,run,window,ssh,calc,websearch:~/.config/rofi/scripts/applet_websearch";
	lines: 5;
	columns: 1;
	font: "Mononoki Nerd Font Mono 12";
	bw: 0;
	location: 0;
	padding: 0;
	fixed-num-lines: true;
	show-icons: true;
	terminal: "alacritty";
	ssh-command: "{terminal} -e '{ssh-client} {host}'";
	run-shell-command: "{terminal} -e '{cmd}'";
	sidebar-mode: true;
	separator-style: "none";
	hide-scrollbar: true;
	fullscreen: false;
	fake-transparency: false;
	dpi: 96;
	scroll-method: 0;
	click-to-exit: true;
	show-match: false;
	combi-hide-mode-prefix: true;
	combi-display-format: "{text}";
	combi-modes: "drun,window,run,ssh,calc,websearch";
	window-format: "{c}: {t}";
	display-window: "  Windows";
	display-windowcd: "  Current";
	display-run: "  Run";
	display-ssh: "  SSH";
	display-drun: "  Apps";
	display-combi: "  Menu";
	display-websearch: "  Search";
}
@theme "~/.config/rofi/theme.rasi"
