[Desktop Entry]
Type=Application
Name=Dashboard
Comment=Start stalonetray and conky at log in
Exec=$HOME/.dashboard/start-dashboard.sh
Terminal=false
