[Unit]
Description="Get manchester airport security waiting times"

[Service]
ExecStart=/home/leakypixel/scripts/get-manchester-airport-waiting-times
